<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.prjt.reply.mapper.ReplyMapper">

	<select id="getReply" resultType="ReplyVO">
		SELECT RNO,
	           BNO,
	           REPLY,
	           REPLYER,
	           REPLYDATE,
	           UPDATEDATE
	      FROM TBL_REPLY
	      WHERE BNO = #{value}
		
	</select>

	<insert id="insertReply">
		<selectKey keyProperty="rno" resultType="string" order="BEFORE">
			SELECT SEQ_REPLY.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO TBL_REPLY ( 
									RNO,
						           	BNO,
						           	REPLY,
						           	REPLYER
				) VALUES (
							#{rno},
							#{bno},
							#{reply},
							#{replyer}
				)
	</insert>
	
	<delete id="deleteReply">
		DELETE FROM TBL_REPLY
			WHERE RNO = #{RNO}
	</delete>
	<update id="updateReply">
		UPDATE TBL_REPLY SET REPLY = #{reply},
						     UPDATEDATE = SYSDATE
                       WHERE RNO = #{rno}
	</update>
</mapper>